In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\usuario\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\usuario\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\usuario\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\usuario\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

## Análise de Negócios
### Preços dos combustíveis ofertados nos postos

### Fomos contratados por uma Petroleira para construir uma análise de negócios para entender a dinâmica de preços que está sendo ofertado pelos postos.
1 - Teremos que trabalhar com Dados Existentes <br/>
link: https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/serie-historica-de-precos-de-combustiveis <br/>

Como foi uma solicitação do nosso cliente, teremos que avaliar os ultimos 5 anos da base de dados.<br/>

Quando abrimos as tabelas nos deparamos que cada semestre possui uma quantidade muito grande de dados, logo juntas 5 anos (10 tabelas) fica difícil!<br/>

Como muitas das vezes não temos o Engenheiro de Dados, temos que dar os nossos pulos!<br/>

2 - Armazenar esses dados em um banco de dados <br/>

In [12]:
"""
CREATE TABLE anp.preco_combustivel(
		regiao 				varchar(255)
		,estado				varchar(255)
		,municipio			varchar(255)
		,revenda			varchar(255)
		,cnpj				varchar(255)
		,nome_rua			varchar(255)	
		,numero_rua			varchar(255)
		,complemento		varchar(255)
		,bairro				varchar(255)
		,cep				varchar(255)
		,produto			varchar(255)
		,data_coleta		date
		,valor_venda		float
		,unidade_medida		varchar(255)
		,bandeira			varchar(255)

)
"""

'\nCREATE TABLE anp.preco_combustivel(\n\t\tregiao \t\t\t\tvarchar(255)\n\t\t,estado\t\t\t\tvarchar(255)\n\t\t,municipio\t\t\tvarchar(255)\n\t\t,revenda\t\t\tvarchar(255)\n\t\t,cnpj\t\t\t\tvarchar(255)\n\t\t,nome_rua\t\t\tvarchar(255)\t\n\t\t,numero_rua\t\t\tvarchar(255)\n\t\t,complemento\t\tvarchar(255)\n\t\t,bairro\t\t\t\tvarchar(255)\n\t\t,cep\t\t\t\tvarchar(255)\n\t\t,produto\t\t\tvarchar(255)\n\t\t,data_coleta\t\tdate\n\t\t,valor_venda\t\tfloat\n\t\t,unidade_medida\t\tvarchar(255)\n\t\t,bandeira\t\t\tvarchar(255)\n\n)\n'

Carga de dados no Banco! <br/>
Utilizaremos o Knime<br/>

Para atender as nossas necessidades vamos construir desta forma.<br/>

3 - Utilizar esses dados para as nossas análises <br/>

Instalando as bibliotecas

In [2]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\usuario\anaconda3\lib\site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import pandas.io.sql as sqlio
import psycopg2 as ps

In [4]:
conn = ps.connect(dbname = 'ANP_dataviz',
                    user ='postgres',
                    password = 'Ecotur78*',
                    host = 'localhost',
                    port = '5432' )

In [35]:
sql = """
SELECT * FROM anp.preco_combusta
"""

In [36]:
df = sqlio.read_sql_query(sql, conn)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_3052\76855033.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = sqlio.read_sql_query(sql, conn)

In [37]:
df.head()

,regiao,estado,municipio,revenda,cnpj,nome_rua,numero_rua,complemento,bairro,cep,produto,data_coleta,valor_venda,unidade_medida,bandeira
0,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,None,STIEP,41770-395,GNV,2018-01-02,2.370,R$ / m³,PETROBRAS DISTRIBUIDORA S.A.
1,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,None,STIEP,41770-395,DIESEL S10,2018-01-02,3.240,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,None,STIEP,41770-395,ETANOL,2018-01-02,2.930,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,None,STIEP,41770-395,GASOLINA,2018-01-02,3.620,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
4,S,RS,CANOAS,METROPOLITANO COMERCIO DE COMBUSTIVEIS LTDA,88.587.589/0001-17,AVENIDA GUILHERME SCHELL,6340,None,CENTRO,92310-000,GNV,2018-01-02,2.699,R$ / m³,BRANCA

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 655350 entries, 0 to 655349
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   regiao          458745 non-null  object
 1   estado          458745 non-null  object
 2   municipio       458745 non-null  object
 3   revenda         458745 non-null  object
 4   cnpj            458745 non-null  object
 5   nome_rua        458745 non-null  object
 6   numero_rua      458494 non-null  object
 7   complemento     104955 non-null  object
 8   bairro          457369 non-null  object
 9   cep             458745 non-null  object
 10  produto         458745 non-null  object
 11  data_coleta     458745 non-null  object
 12  valor_venda     458745 non-null  float64
 13  unidade_medida  458745 non-null  object
 14  bandeira        458745 non-null  object
dtypes: float64(1), object(14)
memory usage: 75.0+ MB

In [39]:
df.shape

(655350, 15)

In [40]:
df['data_coleta'] = pd.to_datetime(df['data_coleta'], errors='coerce')

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 655350 entries, 0 to 655349
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   regiao          458745 non-null  object
 1   estado          458745 non-null  object
 2   municipio       458745 non-null  object
 3   revenda         458745 non-null  object
 4   cnpj            458745 non-null  object
 5   nome_rua        458745 non-null  object
 6   numero_rua      458494 non-null  object
 7   complemento     104955 non-null  object
 8   bairro          457369 non-null  object
 9   cep             458745 non-null  object
 10  produto         458745 non-null  object
 11  data_coleta     458745 non-null  datetime64[ns]
 12  valor_venda     458745 non-null  float64
 13  unidade_medida  458745 non-null  object
 14  bandeira        458745 non-null  object
dtypes: datetime64[ns](1), float64(1), object(13)
memory usage: 75.0+ MB

In [42]:
df

,regiao,estado,municipio,revenda,cnpj,nome_rua,numero_rua,complemento,bairro,cep,produto,data_coleta,valor_venda,unidade_medida,bandeira
0,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,None,STIEP,41770-395,GNV,2018-01-02,2.370,R$ / m³,PETROBRAS DISTRIBUIDORA S.A.
1,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,None,STIEP,41770-395,DIESEL S10,2018-01-02,3.240,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
2,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,None,STIEP,41770-395,ETANOL,2018-01-02,2.930,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
3,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,34.274.233/0015-08,RUA EDISTIO PONDE,474,None,STIEP,41770-395,GASOLINA,2018-01-02,3.620,R$ / litro,PETROBRAS DISTRIBUIDORA S.A.
4,S,RS,CANOAS,METROPOLITANO COMERCIO DE COMBUSTIVEIS LTDA,88.587.589/0001-17,AVENIDA GUILHERME SCHELL,6340,None,CENTRO,92310-000,GNV,2018-01-02,2.699,R$ / m³,BRANCA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655345,NE,BA,ILHEUS,IVAN COELHO PORTO & IRMAOS LTDA,13.322.102/0001-75,RUA A ROD ILHEUS OLIVENCA,SN,KM 0,SAO FRANCISCO,45650-780,DIESEL,2022-07-25,7.750,R$ / litro,BRANCA
655346,NE,BA,ILHEUS,IVAN COELHO PORTO & IRMAOS LTDA,13.322.102/0001-75,RUA A ROD ILHEUS OLIVENCA,SN,KM 0,SAO FRANCISCO,45650-780,GASOLINA ADITIVADA,2022-07-25,5.980,R$ / litro,BRANCA
655347,NE,BA,ILHEUS,IVAN COELHO PORTO & IRMAOS LTDA,13.322.102/0001-75,RUA A ROD ILHEUS OLIVENCA,SN,KM 0,SAO FRANCISCO,45650-780,DIESEL S10,2022-07-25,7.890,R$ / litro,BRANCA
655348,NE,BA,ILHEUS,POSTO DE SERVICOS DOM EDUARDO LTDA.,13.631.353/0001-31,AVENIDA ITABUNA,1814,MODULOS A E B,BASILIO,45658-565,GASOLINA,2022-07-25,5.960,R$ / litro,BRANCA
655349,NE,BA,ILHEUS,POSTO DE SERVICOS DOM EDUARDO LTDA.,13.631.353/0001-31,AVENIDA ITABUNA,1814,MODULOS A E B,BASILIO,45658-565,ETANOL,2022-07-25,5.240,R$ / litro,BRANCA

In [43]:
df.isnull().sum()

regiao            196605
estado            196605
municipio         196605
revenda           196605
cnpj              196605
nome_rua          196605
numero_rua        196856
complemento       550395
bairro            197981
cep               196605
produto           196605
data_coleta       196605
valor_venda       196605
unidade_medida    196605
bandeira          196605
dtype: int64

In [44]:
coluna_excecao = 'complemento'
df = df.dropna(subset=df.columns.difference([coluna_excecao]))

In [45]:
df.isnull().sum()

regiao                 0
estado                 0
municipio              0
revenda                0
cnpj                   0
nome_rua               0
numero_rua             0
complemento       352645
bairro                 0
cep                    0
produto                0
data_coleta            0
valor_venda            0
unidade_medida         0
bandeira               0
dtype: int64

In [46]:
df_anp = df[['data_coleta', 'regiao', 'estado', 'municipio', 'bandeira', 'produto', 'valor_venda']]

In [47]:
df_anp

,data_coleta,regiao,estado,municipio,bandeira,produto,valor_venda
0,2018-01-02,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,GNV,2.370
1,2018-01-02,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,DIESEL S10,3.240
2,2018-01-02,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,ETANOL,2.930
3,2018-01-02,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,GASOLINA,3.620
4,2018-01-02,S,RS,CANOAS,BRANCA,GNV,2.699
...,...,...,...,...,...,...,...
655345,2022-07-25,NE,BA,ILHEUS,BRANCA,DIESEL,7.750
655346,2022-07-25,NE,BA,ILHEUS,BRANCA,GASOLINA ADITIVADA,5.980
655347,2022-07-25,NE,BA,ILHEUS,BRANCA,DIESEL S10,7.890
655348,2022-07-25,NE,BA,ILHEUS,BRANCA,GASOLINA,5.960
655349,2022-07-25,NE,BA,ILHEUS,BRANCA,ETANOL,5.240

In [48]:
df_anp['ano'] = df_anp['data_coleta'].dt.year
df_anp['mes'] = df_anp['data_coleta'].dt.month

C:\Users\Usuario\AppData\Local\Temp\ipykernel_3052\3211014845.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anp['ano'] = df_anp['data_coleta'].dt.year
C:\Users\Usuario\AppData\Local\Temp\ipykernel_3052\3211014845.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anp['mes'] = df_anp['data_coleta'].dt.month

In [49]:
df_anp

,data_coleta,regiao,estado,municipio,bandeira,produto,valor_venda,ano,mes
0,2018-01-02,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,GNV,2.370,2018,1
1,2018-01-02,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,DIESEL S10,3.240,2018,1
2,2018-01-02,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,ETANOL,2.930,2018,1
3,2018-01-02,NE,BA,SALVADOR,PETROBRAS DISTRIBUIDORA S.A.,GASOLINA,3.620,2018,1
4,2018-01-02,S,RS,CANOAS,BRANCA,GNV,2.699,2018,1
...,...,...,...,...,...,...,...,...,...
655345,2022-07-25,NE,BA,ILHEUS,BRANCA,DIESEL,7.750,2022,7
655346,2022-07-25,NE,BA,ILHEUS,BRANCA,GASOLINA ADITIVADA,5.980,2022,7
655347,2022-07-25,NE,BA,ILHEUS,BRANCA,DIESEL S10,7.890,2022,7
655348,2022-07-25,NE,BA,ILHEUS,BRANCA,GASOLINA,5.960,2022,7
655349,2022-07-25,NE,BA,ILHEUS,BRANCA,ETANOL,5.240,2022,7

In [50]:
df_anp.describe().round(2)

       valor_venda        ano        mes
count    457118.00  457118.00  457118.00
mean          4.68    2020.29       3.62
std           1.29       1.58       2.93
min           1.76    2018.00       1.00
25%           3.65    2018.00       1.00
50%           4.48    2021.00       1.00
75%           5.59    2022.00       7.00
max           9.28    2022.00       7.00